body {
    color: rgb(8, 8, 58);
    background-color: rgb(231, 231, 241);
    font-size: 18px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0; /* defaultně nastaveno asi 10px */
}

h1,
h2,
a:link {
    color: rgb(21, 73, 185); /* rozlišení odkazů, na které uživatel ne/klikl */
}

a:visited {
    color: rgb(113, 11, 207)
}

h1,
h2 {
    font-style: italic;
    font-family: "Playfair";
}

h1 {
    font-size: 32px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

th {
    color: rgb(21, 73, 185);
}

section {
    padding: 20px 10%;
    overflow: auto;
    border-bottom: solid 1px;
}

.vzdelani,
.prace,
.zabava {
    background-color: rgb(212, 212, 238);
}

.paticka {
    background-color: rgb(21, 73, 185);
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 20px 0;
}

.hlavicka {
    padding: 40px 10%;
    background-color: rgb(212, 212, 238);
    border-bottom: solid 1px;
}

.foto-helena {
    width: 150px;
    border-radius: 50%;
    border: 1px solid rgb(199, 199, 241);
    float: left;
    margin-right: 100px;
}

.zabava img {
    width: 200px;
    border-radius: 0 25% 25% 25%;
    border: 1px solid rgb(181, 181, 230);
    float: left;
    margin-right: 100px;
}

table {
    border-spacing: 0; /* aby nebyla mezera mezi podtrženými buňkami */
}

th, td {
    text-align: left;
    border-bottom: 1px solid rgb(21, 73, 185);
    padding: 10px 0
}

.uroven {
    text-align: right;
    padding-left: 50px;
}

.blabol {
    font-size: 26px;
    color: red;
    display: none; /* element je NEVIDITELNÝ */
}

/* chci aby menu vypadalo jako tlačítka, aby jako odkaz fungovalo celé tlačítko */

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(21, 73, 185);
}

.menu li {
    display: inline-block;
}

.menu a {
    color: white;
    font-style: italic;
    text-decoration: none;
    padding: 20px 30px;
    display: inline-block;
}

.menu a:hover,      /*najetí myší */
.menu a:focus,      /*při skákání tabulátorem */
.menu a:active {    /*označení myší, ještě než se klikne */
    background-color: rgb(80, 122, 214);
}